{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token%}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Receipe name</label>
            <input name="receipe_name" required type="text" class="form-control">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe description</label>
            <textarea name="receipe_description" required class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe image</label>
            <input name="receipe_image" required type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Add Receipe</button>
    </form>

    <div class="mt-5">
        <div class="mx-auto col-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Food</label>
                <input name="receipe_name" required type="text" class="form-control">

            </div>
            <button class="btn btn-primary">Search</button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Receipe name</th>
                <th scope="col">Receipe desc</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recep in receipe %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{recep.receipe_name}}</td>
                <td>{{recep.receipe_description}}</td>
                <td>
                    <img src="/media/{{recep.receipe_image}}" style="height:100px">
                </td>
                <td><a href="/delete_receipe/{{recep.id}}" class="btn btn-danger m-2">Delete</a><br><a
                        href="/update_receipe/{{recep.id}}" class="btn btn-success">Update</a></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}